.idea
node_modules
src/**/*.js
src/**/*.js.map
src/nft/build/contract
typings
dist
coverage
ts-out
npm-debug.log
debug.log

.DS_STORE

branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
